node-red.json
[{"id":"90bba19e.c9c73","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"2a84af67.cafb3","type":"inject","z":"90bba19e.c9c73","name":"Iniciador","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":false,"onceDelay":0.1,"topic":"Injetor","payload":"","payloadType":"num","x":120,"y":360,"wires":[["a2ae35c4.edc178"]]},{"id":"d7718536.3c5eb8","type":"serial in","z":"90bba19e.c9c73","name":"Arduino","serial":"941e9614.a8ed78","x":110,"y":440,"wires":[["a2ae35c4.edc178"]]},{"id":"a2ae35c4.edc178","type":"function","z":"90bba19e.c9c73","name":"Peso","func":"\n\nmsg.payload = Math.floor((Math.random() * 200) + 5);\n\nmsg.peso = Math.floor((Math.random() * 200) + 5);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":310,"y":360,"wires":[["4f5f5a39.d31514","21c415f0.f5f70a","93becb76.1f95d8"]]},{"id":"4f5f5a39.d31514","type":"ui_gauge","z":"90bba19e.c9c73","name":"","group":"40586503.24038c","order":1,"width":0,"height":0,"gtype":"gage","title":"Peso em KG","label":"units","format":"{{value}}","min":0,"max":"200","colors":["#026902","#e6e600","#ca3838"],"seg1":"","seg2":"","x":530,"y":360,"wires":[]},{"id":"93becb76.1f95d8","type":"ui_chart","z":"90bba19e.c9c73","name":"","group":"40586503.24038c","order":1,"width":0,"height":0,"label":"Pesos registrados","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"5","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":550,"y":440,"wires":[[]]},{"id":"d85e8045.2542e","type":"inject","z":"90bba19e.c9c73","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"create table","payload":"[     {         query: 'begin',     },     {         query: 'CREATE TABLE public.teste (id serial PRIMARY KEY)',     } ];","payloadType":"str","x":310,"y":260,"wires":[["21c415f0.f5f70a"]]},{"id":"21c415f0.f5f70a","type":"function","z":"90bba19e.c9c73","name":"","func":"msg.payload = [\n    {\n        query: 'INSERT into public.teste ({msg.peso})',\n    }\n];\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":260,"wires":[["d06d9b71.9f2fa8"]]},{"id":"d06d9b71.9f2fa8","type":"postgres","z":"90bba19e.c9c73","postgresdb":"eee1e38.a09d92","name":"","output":true,"outputs":1,"x":700,"y":260,"wires":[[]]},{"id":"941e9614.a8ed78","type":"serial-port","serialport":"COM4","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"0","bin":"bin","out":"time","addchar":"","responsetimeout":"10000"},{"id":"40586503.24038c","type":"ui_group","name":"","tab":"64f2ffd3.b0e72","order":1,"disp":true,"width":"6","collapse":false},{"id":"eee1e38.a09d92","type":"postgresdb","hostname":"localhost","port":"5432","db":"smart_chair","ssl":false},{"id":"64f2ffd3.b0e72","type":"ui_tab","name":"Calculadora","icon":"dashboard","disabled":false,"hidden":false}]